*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(2, 177, 145) 75px, rgba(143, 141, 141, 0.727) 75px);
}

/* CONTAINERS */
.container-app{
    width: 1000px;
    height: 100vh;
    margin: 30px auto;
    background-color: white;
}

.container-left{
    height: 100%;
    width: 40%;
}

.container-right{
    height: 100%;
    width: 60%;
    background-image: url('.././img/mine.jpg');
    position: relative;
}

.left-header{
    height: 60px;
    width: 100%;
}

.left-main{
    height: calc(100% - 60px)
}

.right-main{
    height: calc(100% - 60px);
}

.right-header{
    height: 60px;
    width: 100%;
}

.right-main{
    overflow-y: auto;
}

.right-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bell-container{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
}

.messages-container{
    width: 80%;
    margin: 40px auto;
}
.notification{
    background-color: rgb(150, 221, 244);
}

.single-message{
    width: 200px;
    padding: 10px 15px;
}


/* UTILITIES  */
img{
    height: 80%;
}

i{
   margin-right: 15px; 
}

.images-avatar > img{
    height: 60px;
}

.bell-container > i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    color: rgb(150, 221, 244);
}

.time{
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 10px;
}

.active{
    background-color: rgba(4, 129, 167, 0.67);
}

.sent > div{
    background-color: rgb(120, 194, 10);
}

.received > div{
    background-color: white;
}

ol > li{
    display: flex;
    width: 100%;
}